<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('partials/header.ejs') %>
  </head>
  <body style="background-color: rgb(199, 199, 199)">
    <%- include('partials/navbar.ejs') %>
    <div class="container-fluid mt-5"  name="index-main" id="index-main">
      <h1><%= title %></h1><hr>
      <p>Welcome to <%= title %></p>
      <p> This version of the application has a user interface </p>
      <p> Data is stored in a file</p>
      <!--a href="/participants/index">Go to Application</a><br-->
      <a href="#" onclick="goToApplication()"> Proceed to Application</a>"<br>
      <a href="/auth/login">Login</a>
    </div>

    <script>
      //validate login credentials 

      function goToApplication() {
        // fetch 
        fetch('/participants/index', {
          method: 'GET',
        })
        .then(response=> {
          if (response.ok) {
            window.location.href='/participants/index';
          } else {
            response.json().then(data=> 
            //alert(data.message)
            Swal.fire({
                title:'Error',    
                icon:'error',
                text:`${data.message}\n "Please go to Login Page`
            })
            
          
          );
          }
        }) 
        .catch(error=> console.error('Error:', error));
      }
    </script>
  </body>
</html>

